

	/***************************** fonts ******************************/


@font-face
{
    font-family:TableFont;
    src:url('fonts/SHOWG.ttf');
    
}
@font-face
{
    font-family:TitleFont;
    src:url('fonts/BRLNSDB.ttf');
}
@font-face
{
    font-family:FooterMenu;
    src:url("fonts/stylo_.ttf");
}

@font-face
{
    font-family:Footer;
    src:url("fonts/ARLRDBD.ttf");
}
@font-face
{
    font-family:About;
    src:url("fonts/times.ttf");
}

@font-face
{
    font-family:comic;
    src:url("fonts/comic.ttf");
}

@font-face
{
    font-family:btahoma;
    src:url("fonts/BTAHMABD.ttf");
}


@font-face
{
    font-family:vijayab;
    src:url("fonts/vijayab.ttf");
}

	/***************************** friends list ******************************/

#friends-list
{
    width:202px;
    height:322px;
    float:right;
    margin-right:30px;
    margin-top:80px;
    margin-bottom:60px;
}
#friends-table img
{
    width:24px;
    height:27px;
    background-color:Black;
	margin-top:-8px;
}
#friends-table p
{
	font-family:Footer;
	font-weight:bold;
	font-size:16px;
	color:#61676c;
	cursor:pointer;
	margin-left:5px;
	margin-top:10px;
}
#friendsbody
{
    width:202px;
    height:322px;
    overflow:auto;
}

#friendsbody h2
{
	margin-left:46px;
	margin-top:-10px;
	color:#9bb610;
	padding-top:30px;
	text-decoration:none;
	font-family:TitleFont;
	font-size:32px;
}


	/***************************** post body ******************************/

#chatbody h3{

	font-family:vijayab;
	font-size:27px;
margin-left:30px;color:#ff9000;
padding-top:20px;text-decoration:underline;
}


#chat-menu
{
    width:144px;
    height:37px;
    position:relative;
    top:-27px;
    left:25px;
}

#chatmenu
{

    z-index:3;
	float:right;
    text-align:center;
    width:127px;
    height:38px;
    position:relative;
    top:-8px;
    right:175px;
}

#chatmenu img{
    position:relative;
    top:8px;
    cursor:pointer;
    margin-left:5px;
	
	
}
#chatmenu2
{
    z-index:3;
    float:right;
    text-align:center;
    width:145px;
    height:38px;
    position:relative;
    top:-30px;
    left:-30px;
	
}
#setting{

    position:relative;
     top:-22px;
    cursor:pointer;
	width:26px;
    height:25px;
    left:52px;  

}
#PersonName
{
	font-family:vijayab;
	font-size:22px;
	color:#61676c;
    height:30px;
    width:50px;
    position:relative;
    top:-22px;
    left:48px;
}
#shape{
    width:24px;
    height:27px;
    position:relative;
    top:8px;
    left:15px;
    cursor:pointer;
	float:left;

}

#chat-list
{
    width:202px;
    height:322px;
    float:right;
    margin-top:10px;
    margin-right:30px;
    margin-bottom:60px;
}

#chatbody
{
    width:202px;
    height:322px;
    overflow:auto;
	
}



#chat-table p{

	font-family:Footer;
	font-weight:bold;
	font-size:16px;
	color:#61676c;
	cursor:pointer;
	margin-left:5px;
}
#chat-table img{

	margin-left:4px;
	margin-top:-20px;
}

#share-chat
{
   width:545px;
   float:left;
   margin-top:80px;
   margin-left:30px;
    
}
/*
 #shareBlock{
	background-color:#f2f8fd;
	height:200px;
}
*/

/* css codes for share part */
.border-in{
	-webkit-box-shadow: inset 5px 0px 40px 5px rgba(0, 0, 0, .5);
	box-shadow: inset 5px 0px 20px 5px rgba(0, 0, 0, .5);
}
.border-out
{
    border:25px solid #d5e8e9;
	-webkit-box-shadow: 0px 30px 30px -10px rgba(0, 0, 0, .3);
    box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, .3);
    -webkit-border-radius: 20px;
	border-radius: 20px;
}


	/***************************** share ******************************/
#share
{
    position:relative;
    top:-200px;
    overflow:auto;
}
#share-background
{
    overflow:auto;
}
#share-body
{
    position:relative;
    float:right;
    right:5px;
    width:360px;
    text-align:center;
    height:110px;
    overflow:auto;  
}
#txtShareBody
{
    top:35px;
    position:relative;
    width:330px;
	border-color:transparent;
}
.ShareEmpty
{
    font-style:italic;
    color:Gray;
}
.ShareNotEmpty
{
    font-style:normal;
    color:Black;
    height:100px;
}
#avatar
{
	cursor:pointer;
    position:relative;
    width:100px;
    height:124px;
    top:-100px;
    left:50px;
    border:2px;
    border-color:White;
    border-radius:5px;
    border-style:solid;
    box-shadow:0.3px 0.3px 10px 1px gray;
    z-index:1;
    background-color:White;
}
#chat-avatar
{
  position:relative;
    width:100px;
    height:124px;

    border:2px;
    border-color:White;
    border-radius:5px;
    border-style:solid;
    box-shadow:0.3px 0.3px 10px 1px gray;
    z-index:1;
    background-color:White;
    top:20px;
    left:12px;
}
#personID
{
	cursor:pointer;
	font-family:TitleFont;
	color:#4b5054;
	 
    position:relative;
    top:-45px; 
    left:167px;
    
}
#btnShare
{
	background-image:url('images/shareBTN.png');
    width:100px;
    height:60px;
    position:relative;
    top:-254px;
    left:410px;
    z-index:4;
  font-family:comic;
  font-size:17px;
	color:#454d44;
    text-align:center;
    cursor:pointer;
  
}
#btnShare p
{
    position:relative;
    top:14px;
}
.Menus
{
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    background-color:#f1f1f1;
    border:4px solid white;
}
#ShareMenu
{
    text-align:center;
    width:127px;
    height:38px;
    position:relative;
    top:-297px;
    left:210px;
}
#ShareMenu img
{
    position:relative;
    top:0px;
    cursor:pointer;
    margin-left:5px;
}

/****************/

#open-post
{
    margin-top:-240px;
    width:495px;
    margin-left:30px;
}
#open-post-pic
{
    position:relative;
    left:50px;
    top:-5px;
    cursor:pointer;
}
#open-post-text
{
    float:left;
    position:relative;
    left:30px;
}
#open-post-sep
{
    width:495px;
    height:9px;
    background-image:url('images/seprator.png');
    background-repeat:repeat-x;
    position:relative;
    left:27px;
}
#recent-post
{
    width:495px;
    margin-left:20px;
    margin-top:30px;
}

/**********************************/
#MyPosts
{
    width:545px;
    background-color:Blue;
    margin-top:-250px;
    overflow:auto;
}

	/***************************** seprator  ******************************/


#RecentPosts
{
    width:545px;
    height:28px;
    margin-top:-250px;
}
#seprator
{
    height:9px;
    width:500px;
    background-image:url('images/seprator.png');
    background-repeat:repeat-x;
    border-radius:80px;
    margin-left:25px;
    margin-top:10px;
}


	/***************************** friends post ******************************/

#FriendsPosts
{
    height:20px;
    background-color:Black;
}
#chat
{
	margin-left:-20px;
    width:495px;
    height:250px;
	margin-top: 50px;
   	z-index:2;
	position:relative;
}



#chat-body
{
    width:495px;
    height:250px;
    text-align:center;

}
#postproperty{
	float:right;
	margin-top:-22px;
	margin-right:120px;
}

#chat-identity
{
    position:relative;
    float:left;
	margin-left:14px;
	cursor:pointer;
    
}
#chat-date
{
	font-family:btahoma;
    font-style:italic;
	font-size:19px;
	color:#303030;
    width:135px;
    height:40px;
    position:relative;
    top:-48px;
    right:7px;
    float:right;
	background-image:url('images/orangeBtn.png');
    /*box-shadow:1px 1px 1px */
}
#chat-date-month
{
	font-size:larger;
   float:left;
   position:relative;
   left:32px;
   top:8px;
}
#chat-date-day
{
    float:left;
    position:relative;
    left:22px;
    top:10px;
}

#chat-time
{
    position:relative;
    top:10px;
    left:-45px;
}
#chat-clock
{
	float:left;
    width:25px;
    height:22px;
	margin-top:20px;
	margin-left:70px;
}

#chat-digital-time
{
font-family:About;
    font-size:17px;
    font-weight:bold;
	float:right;
    position:relative;
	margin-top:20px;
	margin-right:70px;
}
#chat-id
{
	cursor:pointer;
    position:relative;
    top:20px;
    margin-left:9px;
	font-family:About;
    font-size:23px;
    font-weight:bold;
}
#chat-status
{
	font-family:About;
    font-size:19px;
    font-weight:bold;
    color:#31b410;
    position:relative;
    left:-32px;
    top:15px;
}

/*************/

#chat-txt
{
	float:left;
    clear:both;
    margin-top:15px;
    margin-left: 30px;
    width:360px;
	text-align:left;
}

	/***************************** comments ******************************/

#comment-old
{
    width:360px;
    margin:0 auto;
    margin-top:50px;
}
#comment-old-post-avatar
{
    width:53px;
    height:51px;
    background-color:Black;
    position:relative;
    top:10px;
    left:10px;
}
#comment-old-post-ID
{
	font-family:About;
	font-size:18px;

    position:relative;
    top:-25px;
    left:80px;
    color:#495255;
}
#comment-old-post-body
{
	font-family:comic;
	font-size:15px;

    width:340;
    position:relative;
    left:10px;
}
#comment-new
{
    width:360px;
    margin:0 auto;
    margin-top:40px;
    background-color:#e7f2f3;
}
#comment-new-avatar
{
    width:53px;
    height:51px;
    background-color:Black;
    position:relative;
    top:10px;
    left:10px;
}
#comment-new-ID
{
	font-family:About;
	font-size:18px;
    position:relative;
    top:-25px;
    left:80px;
    color:#495255;
}
#comment-new-txt
{
	border-color:transparent;
    width:320px;
    height:30px;
    position:relative;
    left:15px;
    font-style:italic;
    color:#495255;
	margin-top:15px;
	font-family:comic;
	font-size:15px;
}
#comment-new-body
{
    padding-bottom:10px;
    margin-bottom:20px;
}
#comment-new-send-btn
{
    width:31px;
    height:30px;
    cursor:pointer;
    position:relative;
    float:right;
    top:-20px;
	margin-right:15px;
}
#comment-new-cancel-btn
{
    width:31px;
    height:30px;
    cursor:pointer;
    position:relative;
    float:right;
    top:-20px;
	margin-right:8px;
}
#chat-comment
{
    width:400px;
    position:relative;
    left:50px;
    background-color:#b5d9db;
    top:-23px;
    z-index:0;
    border-radius:20px;
    border:2px solid white;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2);
}
/************************/
/**************/
.tables
{
    position:relative;
    top:20px;
    text-align:center;
    left:20px;
}
#friends-count
{
    position:relative;
    top:10px;
    left:25px;
	font-family:TitleFont;;
	font-size:14px;

}

	/***************************** more posts button ******************************/

#morepost{

	margin-top:80px;
	margin-left:25px;
}
#greenBtn{
	cursor:pointer;
	background-image:url('images/greenbtn.png');
    width:130px;
    height:40px;
	margin-left:-3px;

}
#greenBtn img{
	width:25px;
    	height:18px;
	float:right;
	margin-top:8px;
margin-right:11px;
}
#greenBtn p{
	font-family:comic;
	color:#404447;
	float:left;
	margin-left:24px;
	margin-top:6px;
}
.greenline{
	width:130px;
    height:9px;
    background-image:url('images/seprator.png');
    background-repeat:repeat-x;
    border-radius:80px;
}
#leftLine{
	float:left;
	margin-left:25px;
	margin-top:15px;

}
#rightLine{
	float:right;
	margin-right:32px;
	margin-top:-25px;
}



			/******************** Report ************************/




#report-table{
	padding-top:40px;
	text-align:left;
	margin-left:50px;
	width:380px;
	font-family:TableFont;
	font-size:15px;
	color:#676d72;
}
#send-report{
	position:relative;
	z-index:4;
	margin-top:-50px;
	margin-right:12px;
}

#report-btn{

    width:125px;
    height:40px;

    padding-right:7px;
	padding-top:0px;
    float:right;
	background-image:url('images/orangeBtn.png');
	

}
#report-btn p{
	font-family:TableFont;
	
	font-size:18px;
	color:#3b3f43;
	float:right;
	margin-right:25px;
	margin-top:8px;
}

#report-btn img {

	float:left;
	margin-left:17px;
	margin-top:5px;
}

#messageField{

	height:100px;
}
.ReportTxt{
	color:White;
	background-color:#676d72;
}
